/*** section1 ***/
body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13),       transparent),
    radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent)
}
canvas {
  position: fixed;
  width: 100%;
  height: 100%;
}
.section1 .inner{
  position: relative;
  width: 100%;
  height: 100%;
}
.section1 .contents{
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
}
.section1 .contents p{
display: block;
color: #fff;
font-size: 30px;
font-weight: 500;
text-align: center;
line-height: 1.2em;
}
.scroll-down{
width: 34px;
position: absolute;
bottom: 10%;
left: 50%;
margin-left: -20px;
transition: all 4s ease;
animation: scrollDown 4s infinite;
opacity: 0.8;
}
.scroll-down img{
display: block;
max-width: 100%;
}
@keyframes scrollDown {
0% {
  transform: translateY(-30px);
}
50% {
  transform: translateY(0px);
}
100% {
  transform: translateY(-30px);
}
}


/*** section4 ***/
.section4{
color:#fff;
}
.section4 .inner{
width: 100%;
height: 100%;
}
.section4 .inner .contents{
position: absolute;
left: 10px;
top: 0;
bottom: 0;
right: 10px;
z-index: 0;
display: flex;
justify-content: center;
align-items: center;
}
.section4 .timeline{
width: 400px;
}
.section4 .timeline > ul > li{
display: flex;
background-color: rgba(255, 255, 255, 0.4);
padding: 20px 20px;
border:  1.5px solid #fff;
padding: 8px 15px;
border-radius: 5px;
opacity: 0;
align-items: center;
}
.timeline-ani{
  animation: flipInX;
  animation-duration: 1s;
  opacity: 1 !important;
}

.intro-title{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6em;
  transition: all .6s ease;
  opacity: 0;
}
.section4 .timeline > ul > li + li{
  margin-top: 7px;
}
.section4 .timeline > ul > li.timeline-ani.cook{
  opacity: 0.6 !important;
}
.section4 .timeline .labal{
display: flex;
align-items: center;
}
.section4 .timeline .labal > span{
display: block;
width: 60px;
font-size: 12px;
font-weight: 500;
letter-spacing: -0.01px;
line-height: 1.4em;
}
.section4 .timeline .labal img{
display: block;
width: 24px;
margin-left: 10px;
}
.section4 .timeline .table{
color: #fff;
margin-left: 15px;
width: 100%;
}
.section4 .timeline .table .summary{
font-size: 14px;
font-weight: 500;
letter-spacing: -0.01px;
border-bottom: 1px solid #fff;
line-height: 1.2em;
margin-bottom: 8px;
padding-bottom: 8px;
}
.section4 .timeline .table .desc{
font-size: 12px;
font-weight: 400;
letter-spacing: -0.01px;
line-height: 1.2em;
}
.section4 .intro{
  width: 400px;
  margin-left: 20px;
}
.section4 .intro .greeting{
  margin-bottom: 10px;
}
.section4 .intro .greeting .greeting-item{
  background-color: rgba(255, 255, 255, 0.4);
  border:  1.5px solid #fff;
  border-radius: 5px;
  padding: 12px;
  opacity: 0;
}
.section4 .intro .greeting .greeting-item p{
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: -0.01px;
}
.section4 .intro .greeting .greeting-item p + p{
  margin-top: 9px;
}
.section4 .intro .skills{
  margin-bottom: 10px;
}
.section4 .intro .skills > ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.4);
  border:  1.5px solid #fff;
  border-radius: 5px;
  padding: 5px;
  opacity: 0;
}
.section4 .intro .skills > ul li{
  width: 30%;
  padding: 6px 0;
}
.section4 .intro .skills > ul li img{
  width: 34px;
  display: block;
  margin: 0 auto;
}
.section4 .intro .skills > ul li span{
  display: block;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 5px;
}

.section4 .intro .certi ul li{
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 20px 20px;
  border:  1.5px solid #fff;
  padding: 8px 15px;
  border-radius: 5px;
  opacity: 0;
}
.section4 .intro .certi ul li.timeline-ani.cook{
  opacity: 0.6 !important;
}
.section4 .intro .certi ul li + li{
  margin-top: 5px;
}
.section4 .intro .certi ul li img{
  display: block;
  width: 24px;
}
.section4 .intro .certi ul li span{
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.01px;
  line-height: 1.2em;
  margin-left: 10px;
}

/*** remote ***/
.remote{
  position: fixed;
  right: 2%;
  top: 13%;
  z-index: 9;
  transform: translateX(300px);
  transition: all 0.6s ease;
}
.remote.on{
  transform: translateX(0px);
}
.remote ul{
  width: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 10px;
  border-radius: 5px;
}
.remote ul li + li{
  margin-top: 10px;
}
.remote ul li a{
  display: block;
  transition: all 0.6s ease;
}
.remote ul li a:hover{
  transform: scale(1.1);
}
.remote ul li a img{
  width: 34px;
  display: block;
  margin: 0 auto 3px;
}
.remote ul li a span{
  display: block;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  letter-spacing: -0.01px;
  line-height: 1.2em;
  text-align: center;
}

/***  menu***/
#menu{
  position: fixed;
  top: 10%;
  left: 2%;
  color: #fff;
  z-index: 9;
}
#menu li{
  display: flex;
  align-items: center;
}
#menu li a{
  font-size: 16px;
  display: block;
  font-weight: 400;
  color: #fff;
  opacity: 0.7;
  transition: all 0.6s ease;
}
#menu li span{
  display: block;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  transition: all 0.6s ease;
  opacity: 0;

}
#menu li + li{
  margin-top: 5px;
}
#menu a.active{
  font-size: 20px;
  font-weight: 700;
  opacity: 1;
}
#menu a.active + span{
  font-weight: 500;
  opacity: 1;

}