@media screen and (max-width: 580px) { 
.section1 .contents p{
    font-size: 5.2vw;
}
.section3 .info{
    left: 10px;
    right: 10px;
    width: auto;
    bottom: 10px;
}
.section3 .slider--control {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
.section2 .info{
    left: 10px;
    right: 10px;
    bottom: 10px;
    width: auto;
}
.section2 .el__heading{
    font-size: 4.5vw;
}
.section2 .el__close-btn{
    width: 40px;
    height: 40px;
}
.section4 .inner{
    width: 96%;
    margin: 0 auto;
}
.section4 .inner .contents{
    position: static;
   flex-wrap: wrap-reverse;
   padding-top: 10px;
}
.section4 .timeline{
    width: 100%;
    margin-top: 10px;
}
.section4 .intro{
    width: 100%;
    margin-left: 0;
}
.remote ul{
    padding: 5px;
}
.remote ul li + li{
    margin-top: 6px;
}
.remote ul li a img{
    width: 28px;
}
.remote ul li a span{
    font-size: 11px;
}
#menu li a{
    font-size: 14px;
}
#menu a.active{
    font-size: 18px;
}
#menu li span{
    margin-left: 5px;
    font-size: 11px;
}
} 
